$color-background: #0E2954;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  background: $color-background;
  min-height: 100vh;
}



h1 {
  font-size: 52pt;
}

button, textarea {
  border-radius: 5px;
}

.debug {
  border: 1px solid black;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

//bootstrap Override
.container-fluid {
  padding: 0 !important;
}